
.main-container {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    position: relative;
}

.content{
  margin-left: 260px;
  display: flex;
  flex-direction: column;
}
.content iframe{
  margin-top: 100px;
}

.links{
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 260px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #11b447; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.links li {
  display: block;
  margin-left: 0px;
  margin-right: 40px;
}



  .info-text {
    background-color: rgb(255, 255, 172); /* Fondo amarillo */
    border: 2px solid rgb(139, 139, 104); /* Borde verde de 2px */
    border-radius: 20px; /* Esquinas circulares */
    padding: 10px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior para separar del botón */
}

  .size-text {
    font-size: 12px;
  }

  .items-container {
    display: flex;
    flex-direction: column; /* Cambiamos la dirección a columna para alinear verticalmente */
    align-items: start; /* Puedes cambiar esto a 'flex-start', 'center', o 'flex-end' según tus necesidades */
    margin-left: 28px;
    list-style: none;
    padding: 0;
  }
  
  .items {
    text-decoration: none;
    color: #753b01;
    transition: color 0.3s ease-in-out;
  }
  
  .items:hover {
    color: rgb(0, 0, 0);
  }