.custom-card {
    background-image: url("https://i.pinimg.com/736x/7d/1b/9d/7d1b9d8b4f112e4afdc5900c1a000955.jpg");
    width: 650px; /* Define el ancho deseado para la tarjeta */
    height: 700px;
    align-items: center;
    margin: 0 auto; /* Centra la tarjeta horizontalmente */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 5px;
}
.titulo-carta-juego{
        margin-top: -180px;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff; 
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
        background: linear-gradient(to right,  #359635, #1cad84,#ff33cc); /* Fondo degradado */
        padding: 13px 25px; 
        border-radius: 10px; 
        display: inline-block; 
    }

#imagen{
        width:200px;
        height: 150px;
        
}