.barra {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 20px;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.barra.active {
    transform: translateX(0);
}
.barra h2 {
    text-align: center;
}

.barra ul {
    list-style-type: none;
    padding: 0;
}

.barra ul li {
    padding: 10px 0;
    text-align: center;
}

.barra ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
