.main-container {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


.calculator {

    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 3px solid #7a7a4d;
    border-radius: 5px;
    background-color: #b4b473;
}

.calculator h2 {
    margin-bottom: 10px;
}

.calculator label {
    display: block;
    margin-bottom: 10px;
}

.calculator input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #7c6a50;
}
.calculator h1{
    padding: 0;
}
.calculator button {
    background-color: #837055;
    padding: 0;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #9e907e;
}

.calculator p {
    margin-top: 10px;
    font-weight: bold;
}
