.main-container {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Ysabeau Infant', sans-serif;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinear elementos verticalmente */
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaciado inferior */
}

.sun-image {
    width: 60px; /* Ajusta el tamaño de las imágenes de sol */
    height: 60px;
    margin-right: 10px; /* Espaciado derecho entre las imágenes y el título */
}

.title-text {
    font-size: 32px;
    color: #FFD700; /* Amarillo oscuro */
}

.subtitle {
    font-size: 25px;
    color: #FFD700;
}

.description {
    font-size: 20px;
    color: #000000; /* Negro */
}

.panel-image {
    max-width: 900px; /* Ajusta el ancho máximo de la imagen según tus preferencias */
    border: 2px solid #ADD8E6; /* Borde azul claro de 2px */
    border-radius: 20px; /* Esquinas redondeadas */
}

.pan1-image {
    width: 100px; /* Ajusta el tamaño de las imágenes de sol */
    height: 100px;
    margin-right: 10px; /* Espaciado derecho entre las imágenes y el título */
}

.paneles {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaciado inferior */
}