.main-container {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.button-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

.button {
    z-index: 1;
    cursor: pointer;
    font-size: 20px;
    font-size: 24px; /* Cambiar el tamaño de la fuente */
    background-color: black; /* Cambiar el color de fondo a negro */
    color: green; /* Cambiar el color del texto a verde */
    border: none; /* Eliminar el borde */
    padding: 10px 20px;
    border-radius: 4px;
    width: 190px; /* Ajustar el ancho del botón */
    height: 100px;
  }