.navbar {
    background-color: rgb(50, 219, 106);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    max-height: 35px; 
}
.nav-links {
    justify-content: center;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: black;
}
