.main-container {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}


.calculator {
    background-image: url("https://okdiario.com/img/2017/10/12/matematicas-e1507820053741.jpg");
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 2px solid #aeab7e;
    border-radius: 10px;
    background-color: #aeab7e;
}

.calculator h2 {
    margin-bottom: 10px;
}

.text-aux{
    margin: 20px;
    padding: 20px;
    border: 2px solid #5EB160;
    border-radius: 10px;
    background-color: #aeab7e;
}

.calculator label {
    display: block;
    margin-bottom: 10px;
}

.calculator input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #5EB160;
}
.calculator h1{
    padding: 0;
}
.calculator button {
    background-color: #468547;
    padding: 0;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.calculator button:hover {
    background-color: #aeab7e;
}

.resultado{
    background-color: #aeab7e; /* Fondo amarillo */
    border: 2px solid #5EB160; /* Borde verde de 2px */
    border-radius: 20px; /* Esquinas circulares */
    padding: 10px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior para separar del botón */
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente en el centro del contenedor */
    text-align: center;
    margin: 0 auto; /* Centrar horizontalmente el cuadro de resultado */
}

.calculator p {
    margin-top: 10px;
    font-weight: bold;
}

.info-extra{
    background-color: #aeab7e; /* Fondo amarillo */
    border: 2px solid #5EB160; /* Borde verde de 2px */
    border-radius: 20px; /* Esquinas circulares */
    padding: 10px; /* Espaciado interno */
    margin-top: 10px; /* Margen superior para separar del botón */
    max-width: 1000px; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente en el centro del contenedor */
    text-align: center;
    margin: 0 auto; /* Centrar horizontalmente el cuadro de resultado */
}

.text-aux-small {
    font-size: 14px; /* Tamaño de fuente más pequeño */
    padding: 10px; /* Menos espacio de relleno */
    border: 2px solid #5EB160;
    border-radius: 10px;
    background-color: #aeab7e;
    display: inline-block; /* Para que el cuadro sea del tamaño del texto */
}

.chart-container-global {
    background-color: white; /* Fondo blanco para el cuadro del gráfico */
    padding: 10px; /* Espacio de relleno para separar el gráfico del contenido circundante */
    border: 2px solid #5EB160;
    border-radius: 10px;
    max-width: 400px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 20px auto 0; /* Centrar el div horizontalmente en el contenedor principal y agregar margen superior */
}