.main-container {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-container2 {
    background-image: url('https://img.freepik.com/foto-gratis/fondo-acuarela-verde_95678-443.jpg'); /* Reemplaza con la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}

.title {
    display: flex;
    position: absolute;
    align-items: center;
    margin-bottom: 10px; /* Espaciado inferior */
    margin-right: 200px;
}

.sun-image {
    width: 60px; /* Ajusta el tamaño de las imágenes de sol */
    height: 60px;
    margin-right: 10px; /* Espaciado derecho entre las imágenes y el título */
    margin-left: 10px;
}

.title-text {
    font-size: 32px;
    color: #FFD700; /* Amarillo oscuro */
}

.subtitle {
    font-size: 25px;
    color: #FFD700;
    right: 300px; /* Ajusta la cantidad de desplazamiento hacia la derecha */
    margin-right: 200px;
}

/* Estilos para la descripción */
.description {
    font-size: 20px;
    color: #000000; /* Negro */
    margin-right: 200px; /* Ajusta la cantidad de desplazamiento hacia la derecha */
}

.panel-image {
    max-width: 900px; /* Ajusta el ancho máximo de la imagen según tus preferencias */
    border: 2px solid #ADD8E6; /* Borde azul claro de 2px */
    border-radius: 20px; /* Esquinas redondeadas */
}

.pan1-image {
    width: 100px; /* Ajusta el tamaño de las imágenes de sol */
    height: 100px;
    margin-right: 10px; /* Espaciado derecho entre las imágenes y el título */
}

.paneles {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espaciado inferior */
    margin-right: 200px;
}